<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />

</head>
<body>
    {% include "base/navbar.html" %}
    {% if user.is_authenticated %}
    {% else %}
    <div class="flex h-screen bg-gray-100" style="background: url(&quot;https://laspinascity.gov.ph/uploads/content-featured/574c2a4139fe9.jpg&quot;) 0px  / cover no-repeat;">
        <div class="w-full max-w-xs m-auto border-1 border-gray-300 shadow-lg rounded p-5 bg-gray-100">   
            <header class="my-5">
                <img class="w-25 mx-auto my-5" src="https://laspinascity.gov.ph/guest/img/ftr-logo-new.png?v=250325054116" />
                <h1 class="text-center text-lg">LDRRMO</h1>
            </header>   
            <form method="POST">
                  {% csrf_token %}
                <div>
                  <label class="block mb-2 " for="username">Username</label>
                  <input class="w-full p-2 mb-4  border-b-2 border-gray-500 outline-none focus:bg-gray-100" type="text" name="username">
                </div>
                <div>
                  <label class="block mb-2" for="password">Password</label>
                  <input class="w-full p-2 mb-6  border-b-2 border-gray-500 outline-none focus:bg-gray-100" type="password" name="password">
                </div>
                <div>          
                  <button class="w-full cursor-pointer bg-indigo-700 hover:bg-pink-700 text-white font-bold py-2 px-4 mb-6 rounded" type="submit">
                    Login
                  </button>
                </div>       
              </form>
              
              {% for message in messages %}
                <div role="alert" class="alert alert-warning ">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                  </svg>
                  <span>{{message}}</span>
                </div>
              {% endfor %}
               
            </div>
        </div>
    {% endif %}
    
   
</body>
</html>