{% extends "../base/base.html" %}
{% include "base/sidebar.html" %}

{% block template %}
<div class="overflow-x-auto" >
   <form method="post" >
       {% csrf_token %}
        <div class="p-6 ">
            <div class="container max-w-screen-lg mx-auto">
                <div>
                    <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                                <div class="text-gray-600">
                                    <p class="font-medium text-lg">Incident Details</p>
                                    <p>Please fill out all the fields.</p>
                                </div>

                                <div class="lg:col-span-2">
                                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-6">
                                        <div class="md:col-span-3">
                                            {{form.as_div}}
                                        </div>
                                        <div class="md:col-span-6 text-right mt-5">
                                            <div class="inline-flex items-end">
                                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">Submit</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
        {% comment %} <div class="p-6 ">
            <div class="container max-w-screen-lg mx-auto">
                <div>
                    <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                                <div class="text-gray-600">
                                    <p class="font-medium text-lg">Incident Details</p>
                                    <p>Please fill out all the fields.</p>
                                </div>
                                
                                <div class="lg:col-span-2">
                                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-6">
                                        <div class="md:col-span-3">
                                            <label for="address">Date</label> <span>    
                                            <input type="date" name="date" id="date_today" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                                        </div>
                            
                                        <div class="md:col-span-3">
                                            <label for="city">Time of Call</label> 
                                            <input type="time" name="city" id="time_today" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                                        </div>
                                        
                                        <div class="md:col-span-3">
                                            <label for="full_name">Details</label>
                                            <input type="text" name="full_name" id="full_name" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                                        </div>
                            
                                        <div class="md:col-span-3">
                                            <label for="email">Caller</label>
                                            <input type="text" name="email" id="email" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                                        </div>
                                        
                                        <div class="md:col-span-6">
                                            <label for="city">Address</label>
                                            <input type="text" name="city" id="city" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                                        </div>
                        
                                        <div class="md:col-span-3">
                                            <label for="city">Contact Number</label>
                                            <input type="number" name="city" id="city" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                                        </div>
                                        
                                        <div class="md:col-span-3">
                                            <label for="city">Action Taken</label>
                                            <input type="text" name="city" id="city" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                                        </div>
                        
                                        <div class="md:col-span-3">
                                            <label for="city">Time of Dispatch</label>
                                            <input type="time" name="city" id="city" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                                        </div>
                        
                                        <div class="md:col-span-3">
                                            <label for="city">Back to Base</label>
                                            <input type="time" name="city" id="city" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                                        </div>
                        
                                        <div class="md:col-span-3">
                                            <label for="city">Responded By</label>
                                            <input type="text" name="city" id="city" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                                        </div>
                        
                                        <div class="md:col-span-3"> 
                                            <label for="city">Radio or Telephone</label>
                                            <select name="" id="" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" >
                                                <option selected disabled></option>
                                                <option value="US">Radio</option>
                                                <option value="CA">Telephone</option>
                                            </select>
                                        </div>

                                        <div class="md:col-span-6 text-right mt-5">
                                            <div class="inline-flex items-end">
                                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
       {% endcomment %}
      
   </form>
</div>  

<script>
    document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("date_today").valueAsDate = new Date()
    var date = new Date();
    var currentTime = date.getHours() + ':' + date.getMinutes();
    document.getElementById("time_today").value = currentTime
    });
</script>
{% endblock  %}